<div class="wrapper">
  
  <div class="flexslider" id="home" >

    <div class="dots"></div>
    <ul class="slides">
      <li class="slide1">
        <div class="container">
          <div class="slide-content" style="width: 900px; margin-left: -450px!important; margin-top: 0!important;">
            <h1 class="hero">BrandSlip<span>The Marketplace for Influencers and Brands to Collaborate</span></h1>
            <!-- <a class="button get-started btn btn-large btn-info" href="#" style="margin-top: 200px;">Get started</a> -->
          </div> <!-- /.slide-content -->
        </div> <!-- /.container -->
      </li> <!-- /.slide1 -->
    </ul>
  
  </div> <!-- /#home.flexslider -->
  <div class="flexslider" id="home1" >
    <div class="dots"></div>
      <ul class="slides">
        <li class="slide1">
          <div class="container">
            <div class="slide-content" style="width: 900px; margin-left: -450px!important; margin-top: 0!important;">
              <h1 class="hero">BrandSlip<span>The Marketplace for Influencers and Brands to Collaborate</span></h1>
              <!-- <a class="button get-started btn btn-large btn-info" href="#" style="margin-top: 200px;">Get started</a> -->
            </div> <!-- /.slide-content -->
          </div> <!-- /.container -->
        </li> <!-- /.slide1 -->
      </ul> 
  </div>

  <style>
    @-moz-document url-prefix() {
    h1.hero
    {
      letter-spacing:-6px !important;
      margin-top: 240px !important
    }
    }
  </style>

  <header class="main">
    <div class="container">
      <nav class="mobile hidden-desktop pull-right">
        <select class="mobile-nav">
          <option value=".home">Home</option>
          <option value=".features">How it works</option>
          <option value=".signup">Signup</option>
          <option value=".signin">Signin</option>
          <option value=".our-team">Our Team</option>
          <option value=".our-work">FAQ</option>
          <option value=".pricing">Terms</option>
          <option value=".privacy">Privacy</option>
          <option value=".contact">Get in touch</option>
        </select>
      </nav> <!-- nav.mobile -->

      <nav class="main nav-collapse visible-desktop">
        <ul class="inline">
          <li><a href=".home">Home</a></li>
          <li><a href=".features">How it works</a></li>
          <li><a href=".signup">Signup</a></li>
          <li><a href=".signin">Signin</a></li>
          <li><a href=".our-team">Our Team</a></li>
          <li><a href=".our-work">FAQ</a></li>
          <li><a href=".pricing">Terms</a></li>
          <li><a href=".privacy">Privacy</a></li>
          <li><a href=".contact">Get in touch</a></li>
        </ul>
      </nav> <!-- /nav.main -->

    </div> <!-- /.container -->

  </header> <!-- /header.main -->
  
  <section id="test_section" class="section_test">
  </section>
  <section id="features" class="features">
    <div class="container">
      <h1 class="sub-hero experts center">How It Works</h1>
      <p class="center sub-hero">A brandslip is a collaboration between a brand and an influencer that allows a brand to gain exposure by being cleverly incorporated into Vines, Instagram posts, Youtube videos and more..
      <br/>
      </p>
      <br/><br/>
     <div style="width:100%">
        <div style="width:20%">
        <strong>Sign up:</strong> 
        <br/>
        <br/>

          Once vetted and accepted you can create a profile.
        </div>
        <div style="width:20%;  margin-top: -85px; margin-left: 325px;">
        Post: 
        <br/>
        <br/>
          Brands can create brandslip opportunities with the demographic they would like to target, interest/sector and the platform they would like to market through. Brands can give specific creative instructions or can be general.


        </div>
         <div style="width:20%; margin-left: 620px; margin-top: -188px;">
          Bid on Opportunities: 
          <br/>
          <br/>
          Brands also have the opportunity to bid on brandslip opportunities posted by influencers. 
        </div> 
        <div style="width:20%; margin-left: 950px; margin-top: -90px;">
        Payment:
         <br/>
         <br/>
          Pay only when the brandslip is completed. We use Balanced Payments to hold money in escrow until both parties are satisfied. 
        </div>
        
</div>

    </div>
  </section> <!-- /.features -->

  <section id="signup" class="signup experts grey center">
    <div class="container" style="width: 500px">
      <h1 class="sub-hero">Sign Up</h1>
      <p class="center sub-hero">
      </p>
      <div class="row-fluid">
        <div class="span12">
          <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
            <div class="form-group">
              <input id="user_first_name" name="user[first_name]" type="text" class="form-control" placeholder="First Name">
            </div>  
            <div class="form-group">
              <input id="user_last_name" name="user[last_name]" type="text" class="form-control" placeholder="Last Name">
            </div> 
            <div class="form-group">
              <input id="user_email" name="user[email]" type="text" class="form-control" placeholder="Email Username">
            </div>  
            <div class="form-group">
              <input id="user_password" name="user[password]" type="password" class="form-control" placeholder="Password">
            </div>  
            <div class="form-group">
              <input id="user_password_confirmation" name="user[password_confirmation]" type="password" class="form-control" placeholder="Confirm Password">
            </div> 
            <div class="form-group">
              <input id="user_company_name" name="user[company_name]" type="text" class="form-control" placeholder="Company Name">
            </div>      
            <div class="form-group">
              <input id="date_of_birth" name="user[dob]" type="text" class="form-control datepicker" placeholder="Date of Birth">
            </div>   

            <div>
              <select id="user_type_select" class="select-block" name="user[user_type]" >
                <option>Select User Type</option>
                <option value="1">Brand </option>
                <option value="2">Influencer</option>
              </select>
            </div>
            <label class="checkbox" for="checkbox1">
              <input type="checkbox" class="chk_terms_and_cond" name="checkbox" value="" id="checkbox1" data-toggle="checkbox">
              By clicking Create an Account, you agree to our <a style="text-decoration: underline" href="#term_cond">Terms and Privacy policy</a>.
            </label>
            <div>
              <input name="commit" style="width: 100%" class="btn btn-primary btn-large" type="submit" value="Create an account">
            </div>
          </form>
        </div>		
      </div> <!-- /.row-fluid -->	
    </div> <!-- /.container -->
  </section> <!-- /.features -->
  <section id="signin" class="signin experts white center" style="background: #34495E;">
    <div class="container" style="width: 500px">
      <h1 class="sub-hero">Sign In</h1>
      <div class="row-fluid">
        <div class="span12">
          <div id="login_error" style="text-align: center"></div>
          <div>
            <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" id="signin_user" method="post">
              <div class="form-group">
                <input id="user_email" name="user[email]" type="email" class="form-control" placeholder="Email Username">
              </div>        
              <div class="form-group">
                <input id="user_password" name="user[password]" size="30" type="password" class="form-control" placeholder="Password">
              </div>  

              <div>
                <input name="commit" style="width: 100%" class="btn btn-primary btn-large" type="submit" value="Log in">
              </div>
            </form>    
            <div style="text-align: center; margin-top: 15px;">
              <span>Don't have an account? 
                <a href="#signup">Signup</a>
              </span>
              &nbsp;&nbsp;&nbsp;
              <a data-toggle="modal" href="#myModalforgot_password" >Forgot your password?</a>
            </div>
          </div>
        </div>
      </div> <!-- /.row-fluid -->	
    </div> <!-- /.container -->
  </section> <!-- /.features -->

  <section id="our-team" class="our-team experts grey center">

    <div class="container">

      <h1 class="sub-hero experts center">Our team</h1>

      <!-- <div class="members clearfix" style="margin-left:400px;">


        <div class="member" style="margin-right:20px;">

          <div class="overlay"></div>
          <img src="/assets/face3.jpg" width="211" height="211" alt="William Lee" />
          <p class="name to-right">William Lee.</p>
          <p class="position to-right">Co-Founder</p>
          <p class="info to-right">Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit. </p>
          <ul class="social to-right">
            <li><a href="#">F</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">X</a></li>
          </ul>

        </div>

        <div class="member">

          <div class="overlay"></div>
          <img src="/assets/face4.jpg" width="211" height="211" alt="Kofi Frimpong" />
          <p class="name to-right">Kofi Frimpong.</p>
          <br>
          </br>
          <p class="position to-right">Co-Founder</p>
          <p class="info to-right">Lorem ipsum dolor sit amet consecetur adipiscing sit elit. Lorem ipsum dolor sit amet consecetur adipiscing sit elit. </p>
          <ul class="social to-right">
            <li><a href="#">F</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">X</a></li>
          </ul>

        </div> 
      </div>  -->
      <div class="row">
        <div class="span6 teammate">
          <div class="avatar">
            <%= image_tag "testwilll.jpg", :size =>"96x96", :class => "img-circle" %>
          </div>
          <div class="profile">
            <div class="name">William Lee</div>
            <div><i>Co-Founder</i></div>
            <p>
              William is a co-founder and COO at Brandslip. Will was born and raised in the Philadelphia area and is a huge Eagles fan. He has experience in marketing and working with brands from his two previous startups. He also served as Project Manager for MealTics.com
              <br/>
             

              </p>
          </div>
          <div class="links">
            <!-- <a href="www.twitter.com/lifeasbud" target="_blank" title="Facebook">
              <%#= image_tag "medias/twitter.png", :size =>"48x48", :class => "icon" %>
            </a> -->
            <!-- <a href="www.linkedin.com/pub/william-lee/79/2a2/561" target="_blank" title="Facebook"> -->
              <%#= image_tag "medias/linkedin.png", :size =>"48x48", :class => "icon" %>
              <a href="//www.twitter.com/lifeasbud" target="_blank"><img src = "assets/medias/twitter.png" size = "48x48" style="width: 48px" class="icon"/></a>
              <a href="//www.linkedin.com/pub/william-lee/79/2a2/561" target="_blank"><img src = "assets/medias/linkedin.png" size = "48x48" style="width: 48px" class="icon"/></a>
            <!-- </a> -->
          </div>
        </div>

        <div class="span6 teammate">
          <div class="avatar">
            <%= image_tag "kofi.png", :size =>"96x96", :class => "img-circle" %>
          </div>
          <div class="profile">
            <div class="name">Kofi Frimpong</div>
            <div><i>Co-Founder</i></div>
            <p>Kofi is a co-founder and CEO at Brandslip. Kofi graduated from Princeton University in 2011 and went on to work at numerous startups and launch 2 startups as well. Kofi is also a contributor for the Huffington Post and has worked with numerous brands through consulting to help them market effectively to target demographics.
            <br/>
           
            </p>
          </div>
          <div class="links">
           <!--  <a href="www.twitter.com/therealkofi" target="_blank" title="Facebook">
              <%#= image_tag "medias/twitter.png", :size =>"48x48", :class => "icon" %>
            </a>
            <a href="www.linkedin.com/pub/kofi-frimpong/13/872/172/" target="_blank" title="Facebook">
              <%#= image_tag "medias/linkedin.png", :size =>"48x48", :class => "icon" %>
            </a> -->
            <a href="//www.twitter.com/therealkofi" target="_blank"><img src = "assets/medias/twitter.png" size = "48x48" style="width: 48px" class="icon"/></a>
              <a href="//www.linkedin.com/pub/kofi-frimpong/13/872/172/" target="_blank"><img src = "assets/medias/linkedin.png" size = "48x48" style="width: 48px" class="icon"/></a>
          </div>
        </div>
        <div class="span2"></div>
      </div>

    </div> <!-- /.container -->

  </section> <!--/.our-team -->

  <section id ="faq" class="our-work" style="background: #1ABC9C;">

    <div class="container">

      <h1 class="sub-hero experts center">FAQ</h1>
      <p class="sub-hero">Check out some of the stuff we've created</p>

      <div class="portfolio-controls clearfix">

        <font size="3"><p>1) What is a brandslip? </p></font>
          <p> A brandslip is a collaboration between a brand and an influencer that allows a brand to gain exposure by being cleverly incorporated into Vines, Instagram posts, Youtube videos and more.</p>
          <br></br>

        <font size="3"><p>2) How many followers do influencers typically have?</p></font>

          <p>Influencers have anywhere from 25,000 followers/subscribers to over a million. Brands of all sizes can take advantage of the opportunities that our marketplace has to offer. </p>
          <br></br>

        <font size="3"><p>3) What is the approval/onboarding process and how long does it take to officially get signed up?</p></font>

          <p>To ensure quality brandslips we vet all brands and influencers. Brands and influencers first have to sign up on the site and after we do our due diligence we conduct Skype interviews. It may take anywhere from 1-3 days to be accepted onto the platform.</p> 
          <br></br>

        <font size="3"><p>4) How much does a brandslip cost?</p></font>

          <p>Brandslip prices are determined by the influencers. Brands can search for influencers with a budget in mind. </p>
          <br></br>
         
        <font size="3"><p>5) Does it cost anything to sign up? Is there a service fee?</p></font>

          <p>Signing up as a brand or influencer is completely free.  We take a 12 percent service fee for each brandslip. </p>
          <br></br>

        <font size="3"><p>6) Are these collaborations between influencers and brands like video promotions or what?</p></font>

          <p>We give everyone free range to collaborate however you would like! A Vine celebrity could make a joke about a dating app. A fitness app may want to sponsor a body builder’s youtube vlog series. We allow creatives to be creative. We also have onboarding material for brands and influencers to use as guides to create the best brandslips. </p>
          <br></br>
         

        <font size="3"><p>7) How do public speaking brandslips work?</p></font>

          <p>Influencers must list "crowd size" in the description of their brandslip suggestions. Video proof of crowd size as well as the integration of the brand is required for public speaking brandslips. It's quick and easy to upload the video to our platform. For example, a DJ at a party could shout out a brand via Brandslip and have the whole shoutout recorded and sent to the brand.</p>
          <br></br>

        <font size="3"><p>8) What is the quality of these posts by influencers?</p></font>

          <p>Our trusted vetting process ensures that our brandslip opportunities are of high quality. We hold all payments in escrow until both parties agree that the brandslip is completed to satisfaction.</p>
          <br></br>

        <font size="3"><p>9) What are the benefits to brands and influencers? </p></font>

          <p>Brands have the opportunity to market through the most creative influencers on Vine, Youtube, Instagram and at public speaking events. Brandslips are affordable for brands of all sizes targeting markets effectively. Ultimately, you can generate a lot of buzz around your service/product (potentially viral) and garner a larger social media presence. Best of all, there are no lengthy contracts!</p>

          <p>As an influencer, you will have access to a plethora of innovative products and services.  Brandslip gives you the opportunity to connect with some of your favorite large brands as well as discover new products that you can use every day. Best of all, influencers can monetize their following by promoting these cool products and services! </p>
          <br></br>


        <font size="3"><p>10) What if we don’t want to search for these opportunities? What if we want a campaign for our product or service?</p></font>

          <p>You can contact us using the form on the homepage and we can discuss running a campaign for your company at a negotiable rate. We will take care of picking out the influencers and will also play a role in the creative process of the campaigns as well.</p>


      </div> <!-- /.portfolio-controls --> 

      <div id="portfolio" data-columns="3">

      </div> <!-- /#portfolio -->

    </div> <!-- /.container -->

  </section> <!-- /.our-work -->

  <section class="portfolio-single">

    <a class="portfolio-back">Close</a>
    <div class="container">

      <a class="portfolio-next">Next<i class="icon-arrow-right"></i></a>
      <a class="portfolio-prev"><i class="icon-arrow-left"></i>Previous</a>

      <h1 class="portfolio-title hero"></h1>
      <p class="sub-hero portfolio-subtitle"></p>

      <div class="basket"></div> <!-- /.basket -->

    </div> <!-- /.container -->

  </section> <!-- /.portfolio-single-->

  <section id="term_cond" class="pricing" style="background: #1ABC9C;">

    <div class="container">
      <h2 class="sub-hero">Terms of Service</h2>
      <textarea rows="15">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </textarea>
    </div> 
  </section>

  <section id="privacy" class="privacy" style="background: #1ABC9C;">

    <div class="container">
      <h2 class="sub-hero">Privacy</h2>
      <textarea rows="15">
      1) What information do we collect?

      We collect information from you when you register on our site. 

      When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or credit card information. You may, however, visit our site anonymously.

      2) What do we use your information for? 

      Any of the information we collect from you may be used in one of the following ways: 

      ; To process transactions
      Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.

      ; To send periodic emails

      The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.

      3) How do we protect your information? 

      We implement a variety of security measures to maintain the safety of your personal information when you place an order or enter, submit, or access your personal information. 

      We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to?keep the information confidential.

      After a transaction, your private information (credit cards, bank account information, etc.) will not be kept on file for more than 60 days.

      4) Do we use cookies? 

      Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information

      We use cookies to compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.

      5) Do we disclose any information to outside parties? 

      We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

      Childrens Online Privacy Protection Act Compliance 

      We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.

      Online Privacy Policy Only 

      This online privacy policy applies only to information collected through our website and not to information collected offline.
      </textarea>
    </div> 
  </section>

</div> <!-- /.row-fluid -->

</div> <!-- /.container -->



<footer class="main contact" style="background: #34495E;">

  <div class="container">

    <h1 class="sub-hero experts center">Get in touch</h1>

    <div id="results">
      <div class="alert alert-error" id="error">
        Please fill in all required fields.
      </div>  
      <div class="alert alert-success" id="success">
        Thanks for getting in touch. We will get back to you shortly!
      </div>
    </div>

    <img src="/assets/loader.gif" alt="Loading" id="loading" />

    <div class="row-fluid">

      <div class="span2">

      </div> <!-- /.span3 --> 	

      <div class="span3">

        <h5><span class="icon-pencil"></span> info@brandslip.com</h5>
         
        Please feel free to contact us if you have any questions or concerns. We’re always looking for talented people to join our team or investors who are interested as well.
    
        <hr />

      </div> <!-- /.span3 --> 
   <div id="show_message" style="display:none; color:red;">Thanks for getting in touch. We will get back to you shortly! </div>
    
      <div class="span6 offset1">
        
        <%= form_tag get_in_touch_path ,:remote=>true,:method=>"get" do  %>
          <div class="row-fluid">
             <div class="span6 form-group">
              </br><%= label_tag :name ,nil,:style=>"margin-left: 12px;"%>
              <%= text_field_tag :name ,nil,:placeholder=>"Name...",:required => true,:style=>"height: 40px ! important; margin-left: 12px;"%>
            </div>

             <div class="span6 form-group">
              </br><%= label_tag :email,nil,:style=>"margin-left: 12px;" %>
              <%= email_field_tag :email,nil,:placeholder=>"Email...",:required => true,:style=>"margin-left: 10px;" %>
            </div>


             <div class="span12 form-group">
              </br><%= label_tag :comments %>
              <%= text_area_tag :comment ,nil,:placeholder=>"Comments...",:required => true %>
            </div>

            <%= submit_tag "Send! " ,:class=>"btn btn-primary" ,:id=>"touch_in",:style=>"margin-left: 12px;"%>
          </div>
        <% end %>

      </div> <!-- /.span6 --> 

    </div> <!-- /.row-fluid -->

  </div> <!-- /.container -->

  <div class="copyright clearfix">

    <div class="container">

      <div class="pull-left">

        <p>Copyright &copy; 2014</p>

      </div> <!-- /.pull-left -->

      <div class="pull-right">

        <nav class="footer">

          <ul class="inline">
            <li><a href="#home1">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#signup">Signup</a></li>
            <li><a href="#signin">Signin</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#term_cond">Terms</a></li>
          </ul>

        </nav> <!-- /nav.footer -->

      </div> <!-- /.pull-right -->

    </div> <!-- /.container -->

  </div> <!-- /.copyright -->

</footer> <!-- /footer.main -->

<a style="display: none" id="btn_show_err_msg" data-toggle="modal" href="#myModalErrorMsg"></a>
</div> <!-- /.wrapper -->


<%= javascript_include_tag "application", "jquery","jquery-1.8.2", "jquery-ui.min", "jquery.dataTables", "all", "bootstrap", "bootstrap-datepicker", "jquery.raty.min" %>

<script type="text/javascript" src="/assets/bootstrap.js"></script>
<script type="text/javascript" src="/assets/jquery.flexslider.js"></script>
<script type="text/javascript" src="/assets/jquery.debouncedresize.js"></script>
<script type="text/javascript" src="/assets/jquery.actual.js"></script>
<script type="text/javascript" src="/assets/retina.js"></script>
<script type="text/javascript" src="/assets/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/assets/custom.js"></script>
<script type="text/javascript" src="/assets/portfolio.js"></script>
<script type="text/javascript" src="/assets/form.js"></script>

<script type="text/javascript">


  $(document).ready(function() {
    console.log("reset_password_popup" + <%= params[:is_reset_password] == '1' %>);
    if(<%= params[:is_reset_password] == '1' %>){
        $("#reset_password_popup").click();
        $(".modal").css({"margin-top": "10%", "z-index": "25000"}); 
        $("#user_reset_password_token").val('<%= params[:reset_password_token] %>');
    }
    
    $('.datepicker').datepicker({dateFormat: "dd-mm-yy", changeMonth: true, changeYear: true, yearRange: 'c-62'});

    $("form#new_user").submit(function() {
      var submit = true;
      var empty_boxes = [];
      $("form#new_user input[type='text']:not('.not_required'), form#new_user input[type='password']").each(function() {
        if ($(this).val() == "") {
          empty_boxes.push($(this).attr('placeholder'));
          submit = false;
        }
      });
      if ($("form#new_user select#user_type_select").val() == "1") {
        if ($("#user_company_name").val() == "") {
          empty_boxes.push('Company Name');
          submit = false;
        }
      }

      if ($("form#new_user select#user_type_select").val() == "Select User Type") {
        empty_boxes.push("User Type");
        submit = false;
      }

      if (submit == false) {
        $("#edit_profile_ajaxloading").css('display', 'none');
        //alert("Please enter " + empty_boxes.join(', ') + " fields...");
        $("#btn_show_err_msg").click();
        $("div#myModalErrorMsg").find(".modal-body").text("Please enter " + empty_boxes.join(', ') + " fields...");
        $(".modal").css({"margin-top": "10%", "z-index": "25000"});
        return false;
      } else {
        if ($("form#new_user .chk_terms_and_cond").is(":checked")) {
          $.ajax({
            type: "POST",
            url: $("form#new_user").attr("action"),
            data: $("form#new_user").serialize(),
            beforeSend: function() {
              $("body").css("cursor", "progress");
            },
            complete: function() {
              $("body").css("cursor", "auto");
            },
            success: function(data) {
              if (data["response"] == "0") {
                if (data["error"]["password"] != "" && data["error"]["password"] != undefined && data["error"]["password"] != null) {
                  //alert("Password " + data["error"]["password"]);
                  $("#btn_show_err_msg").click();
                  $("div#myModalErrorMsg").find(".modal-body").text("Password " + data["error"]["password"]);
                  $(".modal").css({"margin-top": "10%", "z-index": "25000"});
                } else {
                  //alert($("form#new_user #user_email").val() + " " + data["error"]["email"]);
                  $("#btn_show_err_msg").click();
                  $("div#myModalErrorMsg").find(".modal-body").text($("form#new_user #user_email").val() + " " + data["error"]["email"]);
                  $(".modal").css({"margin-top": "10%", "z-index": "25000"});
                }
              } else {
                //alert("Successfully saved.")
                $("#btn_show_err_msg").click();
                $("div#myModalErrorMsg").find(".modal-body").text("You have successfully signed up. Please wait until an admin approves your access.");
                $("div#myModalErrorMsg").find("h4.modal-title").text("Signup Message");
                $(".modal").css({"margin-top": "10%", "z-index": "25000"});
              }
            }
          });
          return false;
        } else {
          $("#btn_show_err_msg").click();
          $("div#myModalErrorMsg").find(".modal-body").text("Please accept terms and condition");
          $(".modal").css({"margin-top": "10%", "z-index": "25000"});
          return false;
        }
      }

    });

    //Login Form submit
    $("form#signin_user").submit(function() {
      var username = $(this).find('#user_email').val();
      var password = $(this).find('#user_password').val();
      if (username == "" || password == "") {
        $("div#login_error").text("Incorrect username or password").css({'font-size': '13px', 'color': 'red'});
        return false;
      } else {
        $.ajax({
          type: "POST",
          url: $(this).attr('action'),
          data: $(this).serialize(),
          beforeSend: function() {
          },
          complete: function() {
          },
          success: function(data) {
            if (data['success'] == true) {
              parent.location.replace(dashboard_path);
            } else {
              //alert(data["errors"]);
              $("#btn_show_err_msg").click();
              console.log(data["errors"]);
              $("div#myModalErrorMsg").find(".modal-body").text(data["errors"][0]);
              $(".modal").css({"margin-top": "10%", "z-index": "25000"});              
            }
          }
        });
        return false;
      }
      return false;
    });
    
    //Forgot password form submit
    $("form#forgot-password-form").submit(function() {
        var ctrl = $(this);
        var user_email = ctrl.find('#user_email').val();
        if(user_email == ""){
            ctrl.find("input#user_email").css({'border' : '1px solid red'});
            return false;
        }else{
            $.ajax({
                type: "POST",
                url: ctrl.attr('action'),
                data: ctrl.serialize(),
                beforeSend: function(){                
                     $("#forgot_password_loading").css("display", "inline-block");
                },
                complete: function() {              
                    $("#forgot_password_loading").css("display", "none");
                },
                success: function(data){
                    if(data['response'] == "1"){
                        $("#forgot_password_msg").html("<b>An email has been sent to the address that you signed up with.</b>").css("color", "green");
                    }else{ 
                        $("#forgot_password_msg").html("<b>We didn't recognize that email, please try again</b>").css("color", "red");
                    }
                }
            });
            return false;
        }

    });   


    //Reset password form submit
    $("form#reset_passord").submit(function() {
      var new_pw = $(this).find('#user_password').val();
      var confirm_pw = $(this).find('#user_password_confirmation').val();
      if (new_pw == "" || confirm_pw == "") {
        $("div#reset_password_msg").text("Password or confirm password can not be empty").css({'font-size': '13px', 'color': 'red'});
        return false;
      }else if(new_pw != confirm_pw){
        $("div#reset_password_msg").text("Password & confirm password does not match").css({'font-size': '13px', 'color': 'red'});
      }else {
        $.ajax({
          type: "POST",
          url: $(this).attr('action'),
          data: $(this).serialize(),
          beforeSend: function() {
          },
          complete: function() {
          },
          success: function(data) {
            if (data['success'] == true) {
              parent.location.replace(dashboard_path);
            } else {
              var error_msg = "";
              $.each(data["errors"], function(k,v){error_msg+=k+" "+v[0]})
              $("div#reset_password_msg").text(error_msg).css({'font-size': '13px', 'color': 'red'});
            }
          }
        });
        return false;
      }
      return false;
    });
  });
</script>        

<!-- Modal -->
<div class="modal fade" id="myModalErrorMsg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error Message:</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mini" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
  
<!-- Modal -->
<div class="modal fade" id="myModalforgot_password" style="margin-top: 10%;z-index: 25000">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Forgot Password:</h4>
      </div>
      <div class="modal-body">
      <form accept-charset="UTF-8" action="/users/password" class="login-form" id="forgot-password-form" method="post">
        <div style="color: #142D4F;font-size: 15px;line-height: normal;text-align: center">
            <b>
                Enter the email address that you signed up with
            </b>
          </div>
        <div>
          <div style="padding-left: 15px;margin-top: 20px;">
              <span class="text" style="margin-top: 5px;">
                <input id="user_email" name="user[email]" size="30" type="email" title="Enter Text"  style="width: 500px"/>
              </span>
            </div>
            <div class="row" style="margin-top: 10px;margin-left: 245px;">
              <input  type="submit" class="btn btn-primary btn-mini" value="Submit" />
              <img id="forgot_password_loading" src="/assets/loader.gif" style="display: none;" />
            </div>
          </div>
          <div id="forgot_password_msg" style="text-align: center;margin-top: 10px"></div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mini" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



 <a id="reset_password_popup" data-toggle="modal" href="#myModalResetPassword" style="color: white;display: none"></a> 
<!-- Modal -->
<div class="modal fade" id="myModalResetPassword" style="margin-top: 10%;z-index: 25000">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reset Password:</h4>
      </div>
      <div class="modal-body">
        <form accept-charset="UTF-8" action="/users/password" class="reset_passord" id="reset_passord" method="post">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓"/>
            <input name="_method" type="hidden" value="put"/>
            <input name="authenticity_token" type="hidden" value="wHCvLo0LQ7SQJIa4yjV84YGixCB5ISt5vfyP4XqT6uo="/>
          </div>

          <input id="user_reset_password_token" name="user[reset_password_token]" type="hidden" value=""/>

          <div><label for="user_password">New password</label><br>
          <input id="user_password" name="user[password]" size="30" type="password"></div>

          <div><label for="user_password_confirmation">Confirm new password</label><br>
          <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password"></div>

          <div style="padding-top: 10px; text-align: center"><input name="commit" type="submit" value="Change my password"></div>
          <div id="reset_password_msg" style="padding-top: 10px; text-align: center"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mini" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->