<script type="text/javascript">
  $(document).ready(function() {
      $("li#brandslip_suggestion").addClass("active");
      
    <% if action == 'edit' && @brandslip_suggestion.suggestion_type == 1 %>
        var state = $("#brandslip_suggestion_state").val();
        if(state != ""){
                $.ajax({
                    url: "/jobs/get_cities",
                    type: "post",
                    dataType: "json",
                    data: {
                        "state": state
                    },
                    beforeSend: function() {
                    },
                    complete: function() {
                    },
                    success: function(data) {
                        $("#brandslip_suggestion_city").find("option:gt(0)").remove();
                        for (var index = 0; index < data['matched_cities'].length; index++) {

                            $("#brandslip_suggestion_city").append($("<option/>", {
                                                        value: data['matched_cities'][index]['city'],
                                                        text: data['matched_cities'][index]['city']
                                                    }));
                        } 
                        $("#brandslip_suggestion_city").val('<%= @brandslip_suggestion.city %>');
                    }
                });          
        }        
        
    <% end %> 


    $("form.suggestion_form").submit(function(){
      var submit = true;
      var empty_boxes = [];
      console.log("Hello");
      $("form.suggestion_form input[type='text']:not('.not_required')").each(function(){
        if($(this).val() == ""){
          empty_boxes.push($(this).closest('div.field').find('b').text());
          submit = false;
        }
      });
          
      $("form.suggestion_form textarea").each(function(){
        if($(this).val() == ""){
          empty_boxes.push("Description");
          submit = false;
        }
      });
          
      $("form.suggestion_form select").each(function(){
        if($(this).val() == ""){
          empty_boxes.push($(this).closest('div.field').find('b').text());
          submit = false;
        }
      });
      
      if(submit == false){
        $("#btn_job_err_msg").click();
        $("div#myModalSuggestionErrorMsg").find(".modal-body").text("Please enter " + empty_boxes.join(', ') +" fields...");
        return false;
      }else{
        if(!$(".chk_terms_and_cond").is(":checked")) {
          $("#btn_job_err_msg").click();
          $("div#myModalSuggestionErrorMsg").find(".modal-body").text("Please Accept Terms & conditions.");
          return false; 
        }
      }
    });
  });
</script>


<%= form_for(@brandslip_suggestion, :html => {:class => 'suggestion_form'}) do |f| %>
  <%= f.hidden_field :user_id, :value=> current_user.id  %>
  <% if @brandslip_suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brandslip_suggestion.errors.count, "error") %> prohibited this brandslip_suggestion from being saved:</h2>

      <ul>
      <% @brandslip_suggestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:type] == "public_speaking" %>
    <%= f.hidden_field :suggestion_type, :value=> 1  %>
  <% else %>
    <%= f.hidden_field :suggestion_type, :value=> 2  %>
  <% end %>

  <div style="width: 100%">
    <div style="float: left;width: 50%; padding-right: 190px;">
      <div class="field">
        <b><%= "Title" %></b><br />
        <%= f.text_field :title, :class => 'text_field', :size =>30, :maxlength => 50 %>
      </div>
      <br/>
      <div class="field">
        <b><%=  "Description" %></b><br />
        <%= f.text_area :description, :id => 'text_field', :rows => '9', :cols => '40', :style => "width:340px" %>
      </div>
      <br/>
      <div class="field">
        <b><%= "Sector" %></b><br />
        <%#= f.select(:category,
          Jobcategorymaster.all.collect{|s| [s.category, s.id]},

          {:include_blank => '--Select Interests--'}, :class => "selectpicker" ) %>
          <%=f.select :category, [['Health/Fitness', 11], ['Entertainment/Gaming', 12], ['Fashion/Apparel', 13], ['Mobile Apps', 14], ['Major Brands',15], ['Technology', 10], ['Other', 17]],{:include_blank => "Select Sector"}, :class => "selectpicker"%>
      </div>
      <br/>
      <% if params[:type] == "public_speaking" %>
        <div class="field">
          <b><%= "Proof Selector"  %></b><br />
            <%= f.select :proof_selector, 
                  ['Have the crowd tweet during your presentation or use a hashtag to promote a brand', 
                   'Provide giveaways supplied by the brand', 'Give out promotional materials supplied by brand',
                   'If you have access to attendees emails, email them information about the brand', 
                   'Other'], 
                 {:include_blank => "Select Selector"}, :class => "selectpicker" %>
        </div>   
      <% else %>
        <div class="field">
          <b><%= "Online Media Source"  %></b><br />
            <%= f.select :online_media_source, ['Youtube', 'Instagram', 'Vine', 'Snapchat'], 
                {:include_blank => "Select Online Media Source"}, :class => "selectpicker" %>
        </div>         
      <% end %>
      <br/>
      <div class="field">
        <b><%= "Age Demographic Criteria" %></b><br />
        <%= f.select(:sub_category,
          Jobsubcategorymaster.all.collect{|s| [s.sub_category, s.id]},

          {:include_blank => '--Select Criteria--'}, :class => "selectpicker" ) %>    
      </div> 
      <br/>
    </div>

    <div style="float: right;width: 50%">  
      <div class="field">
        <b><%= "Maximum Bid for BrandSlip Suggestion" %></b><br />
        <div>
          <div style="float: left;width: 11px;font-size: 17px;padding-top: 6px;">$</div>
          <div style="float: left;width: 300px"><%= f.text_field :price, :class => 'text_field', :size =>25, :placeholder => "45" %></div>
        </div>
      </div>
      <br/>      
      <br/>      
      <br/>      
      <div class="field">
        <b><%= "Valid For (No. of days)" %></b><br />
        <%= f.select :valid_for, (1..30).step(1).to_a, {:include_blank => "Select Days"}, :class => "selectpicker" %>
      </div>
      <br/>
      <div class="field">
        <b><%= "BrandSlip Date" %></b><br />
        <%= f.date_select :start_date, :class => 'text_field', :size =>30 %>
      </div>
      <br/>
      <% if params[:type] == "public_speaking" %>
        <div class="field">
          <b><%= "Crowd Size" %></b><br />
          <%= f.select :crowd_size, ['Less than 20 people', '20-50 people', '50-80 people', 
                                     '80-100 people', 'Greater than 100 people'], 
                          {:include_blank => "Select Size"}, :class => "selectpicker" %>
        </div>
      <% else %>
        <div class="field">
          <b><%= "Followers/Subscribers" %></b><br />
          <%= f.select :followers_subscribers, ['Less than 50,000', '50,000-100,000', 
                                                 '100,000-500,000', '500,000-1,000,000', '1,000,000+'], 
                         {:include_blank => "Select Size"}, :class => "selectpicker" %>
        </div>      
      <% end %>
      <br/>
      <div class="field">
        <b><%= "Time" %></b><br />
        <%= f.text_field :time, :class => 'text_field', :size =>30 %>
      </div>
      <br/>
      <% if params[:type] == "public_speaking" %>
        <div class="field">
          <b><%= "State" %></b><br />
          <%= f.select(:state,
            State.all.collect{|s| [s.state, s.state]},

            {:include_blank => '--Select State--'}, :class => "selectpicker", :onchange => "populate_cities(this, 'brandslip_suggestion_city')" ) %>    
        </div> 
        <br/>
        <div class="field">
          <b><%= "City" %></b><br />
          <%= f.select(:city, [],
            {:include_blank => '--Select City--'}, :class => "selectpicker" ) %>    
        </div> 
        <br/>
      <% end %>
    </div>
    <div class="actions" style="padding-bottom: 30px;padding-top: 30px; padding-left: 15%;display: inline-block">
      <div style="padding-bottom: 15px">
        <input type="checkbox" class="chk_terms_and_cond" name="checkbox"/>&nbsp;
        By clicking Create BrandSlip Suggestion you will agree to 
        <a style="text-decoration: underline" href="<%= terms_conditions_path %>" target=" _blank" >
          Terms/Privacy </a>and
        <a style="text-decoration: underline" href="<%= policies_path %>" target=" _blank" >
          BrandSlip Marketplace Policies.</a>
      </div>
    </div>
    <div class="actions" style="padding-bottom: 30px;padding-left: 30%">
      <%= f.submit "Create BrandSlip Suggestion", :class => 'btn btn-mini btn-primary', :id => '', :style => "color:white;font-size:13px" %>
      <%= link_to 'Home', home_path, :class => 'btn btn-mini btn-primary', :style => "color:white;font-size: 13px;"  %>
    </div>
  <% end %>
</div>

<a style="display: none" id="btn_job_err_msg" data-toggle="modal" href="#myModalSuggestionErrorMsg"></a>

<!-- Modal -->
<div class="modal fade" id="myModalSuggestionErrorMsg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error Message:</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-mini" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

