<h1>Listing user_job_proposals</h1>

<table>
  <tr>
    <th>Proposal details</th>
    <th>Proposal cost</th>
    <th>My earning</th>
    <th>Is submit later</th>
    <th>Is place mine at the top</th>
    <th>Estimate delivery date</th>
    <th>BrandSlip</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_job_proposals.each do |user_job_proposal| %>
  <tr>
    <td><%= user_job_proposal.proposal_details %></td>
    <td><%= user_job_proposal.proposal_cost %></td>
    <td><%= user_job_proposal.my_earning %></td>
    <td><%= user_job_proposal.is_submit_later %></td>
    <td><%= user_job_proposal.is_place_mine_at_the_top %></td>
    <td><%= user_job_proposal.estimate_delivery_date %></td>
    <td><%= user_job_proposal.job_id %></td>
    <td><%= user_job_proposal.user_id %></td>
    <td><%= link_to 'Show', user_job_proposal %></td>
    <td><%= link_to 'Edit', edit_user_job_proposal_path(user_job_proposal) %></td>
    <td><%= link_to 'Destroy', user_job_proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User Brands proposal', new_user_job_proposal_path %>
