  <% @jobs.each do |job| %>
    <div id="searched_job_div" class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 25px;"><a href="<%= job_detail_path(:id => job.id) %>" style="color: white"><%= job.job_title %></a></h3>
      </div>
      <div class="panel-body">     
        <div class="stats">  
          <% if job.job_user_id.nil? %>
            <span style="font-weight: bold; color: #002a80">Name: </span> --<br/>
          <% else %>
            <% if(User.find(job.job_user_id).nil?) %>
              <span style="font-weight: bold; color: #002a80">Name: </span> --<br/>
            <% else %>
              <span style="font-weight: bold; color: #002a80">Name: </span> 
                <a target="_blank" style="font-size: 15px;color: dodgerblue;" href="<%= presenters_profile_show_path(:id => job.job_user_id)%>"><%= User.find(job.job_user_id).first_name %>
                <%= User.find(job.job_user_id).last_name %></a><br/>
            <% end %>
          <% end %>
        </div>
        <div class="stats">
          <span style="font-weight: bold; color: #002a80">Maximum Bid: </span> $<%= job.job_price_fixed_type %></span>&nbsp;&nbsp;|&nbsp;&nbsp; 
          <span style="font-weight: bold; color: #002a80">Date of BrandSlip: </span><%= job.created_at.strftime("%a, %b %d, %Y") %></span>&nbsp;&nbsp;|&nbsp;&nbsp;
          <span style="font-weight: bold; color: #002a80">Valid For: </span><%= job.job_valid_for.to_i -   (Date.today - job.created_at.to_date).to_i %> days
        </div>
          <% if job.job_type == 1 %>
            <div class="stats">
              <span style="font-weight: bold; color: #002a80">Crowd Size: </span><%= job.crowd_size %>
            </div>
          <% else %>
            <div class="stats">
              <span style="font-weight: bold; color: #002a80">Online Media Source: </span><%= job.online_media_source %>
            </div>
            <div class="stats">
              <span style="font-weight: bold; color: #002a80">Followers/Subscribers: </span><%= job.followers_subscribers %>
            </div>
          <% end %>
        <div class="desc">
          <table>
            <tr>
              <td style="font-weight: bold; color: #002a80;vertical-align: top">Description:</td>
              <td><%= truncate(job.job_description, :length => 60) %></td>
            </tr>
          </table>
        </div>
        <div style="display: inline-block;margin-top: 10px">
          <% interested_job = InterestedJobs.where(:user_id => current_user.id, :job_id => job.id) %>
          <% if !interested_job.nil? && !interested_job[0].nil? %>
          <input id="btn_remove_from_interested" data-job-id="<%= job.id %>" type="button" class="btn btn-primary btn-mini" value="Remove from Interested" onclick="j_remove_from_interested(this)" />
          <% else %>
            <input id="btn_save_as_interested" data-job-id="<%= job.id %>" type="button" class="btn btn-primary btn-mini" value="Save as Interested" onclick="j_save_as_interested(this)" />
          <% end %>
        </div>
        <div class="panel-title" style="margin-left: 208px; margin-top: -32px; font-size: 25px;"><a href="<%= job_detail_path(:id => job.id) %>" class="btn btn-primary btn-mini">Bid</a></div>
      </div>
    </div>
  <% end %> 

