<!-- BEGIN SIDEBAR -->
<div class="page-sidebar nav-collapse collapse">
  <!-- BEGIN SIDEBAR MENU -->        
  <ul class="page-sidebar-menu">
    <li>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <div class="sidebar-toggler hidden-phone"></div>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
      <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
      <form class="sidebar-search">
        <div class="input-box">
          <a href="javascript:;" class="remove"></a>
          <input type="text" placeholder="Search..." />
          <input type="button" class="submit" value=" " />
        </div>
      </form>
      <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>

    <li class="start">
      <a href="javascript:;">
      <i class=" icon-cog"></i> 
      <span class="title">Manage</span>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li ><%= link_to 'Users', manage_users_admin_url %></li>        
        <li ><%= link_to 'Posts', manage_posts_admin_url %></li>
        <li ><%= link_to 'Suggested Posts', manage_suggested_posts_admin_url %></li>
        <li ><%= link_to 'Bids', manage_bids_admin_url %></li>
        <li ><%= link_to 'Bids on Suggested', manage_suggestion_bids_admin_url %></li>
        <li ><%= link_to 'Reviews', manage_reviews_admin_url %></li>
      </ul>
    </li>    
    
    <li class="start">
      <a href="<%= statistics_admin_url %>">
        <i class="icon-bar-chart"></i> 
        <span class="title">Statistics</span>
        <!-- <span class="selected"></span> -->
      </a>
    </li>

    <li class="start">
      <a href="<%= payments_admin_url %>">
        <i class="icon-credit-card"></i> 
        <span class="title">Payments</span>
        <!-- <span class="selected"></span> -->
      </a>
    </li>

    
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->




